/*
Author: Sullivan Young
Description: CSS for my personal website
Date Edited: 8/18/2020
*/

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: white;
    background: linear-gradient(rgb(255, 254, 254), rgb(110, 110, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

    display:block;
    position: relative;
    z-index: 3;
}

@keyframes move-stars {
    from{background-position: 0 0;}
    to{background-position: -10000px 5000px;}
}

.stars, .twinkle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars{
    background: #000 url(images/stars.png) repeat top center;
    z-index: 0;
}

.twinkle{
    background: transparent url(images/twinkle.png) repeat top center;
    z-index: 1;
    animation: move-stars 200s linear infinite;
}

.background{
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black,#1f1f1f,#585757,#969696);
}