/*
Author: Sullivan Young
Description: CSS for my personal website
Date Edited: 8/19/2020
*/
*{
    margin: 0;
    padding: 0;
}

.whole {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    position: absolute;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: white;
    background: linear-gradient(rgb(255, 254, 254), rgb(110, 110, 110));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 6px 0px rgba(185, 185, 185, 0.2);

    display:block;
    position:relative;
    z-index: 3;
}

@keyframes move-twinkle {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars{
    background: #000 url(images/stars.png) repeat top center;
    z-index:0;
}

.twinkle{
    background: transparent url(images/twinkle.png) repeat top center;
    z-index:1;
    animation: move-twinkle 200s linear infinite;
}

.line {
    border-bottom: 2px solid rgb(245, 245, 245);
    color: linear-gradient(rgb(255, 254, 254), rgb(110, 110, 110));
    width: 880px;
    margin: auto;
    max-width:100%;
    text-align: center;
    font-size: 100vh;
    padding-top: 50px;
    display:block;
    position:relative;
    z-index: 3;
}

.format {
    padding-top: 50px;
    height: auto;
    width: 100%;
    margin: auto;
    max-width:100%;
    display: flex;
    justify-content: space-evenly;
}

i{
    position: relative;
    z-index: 3;
    height: 35px;
    max-width: 100%;
    color: rgb(218, 218, 218);
    padding: 0 0 50px 0;
    font-size: 80px;
}

i:hover{
    color:rgb(58, 58, 58);
}

nav{
    width: 100vw;
}

ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style-type: none;
    height: 85px;
    width: 120px;
    overflow: hidden;
    margin-right: 40px;
}

li>span{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

li>span:nth-child(1){
    color: #5f5f5f;
    font-size: 32px;
}

li>span:nth-child(2){
    background-color: #555555;
}

li:hover span{
    transform: translateY(-100%);
}

a{
    color:white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}